{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>{% block head_title %}LMS{% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block head_description %}LMS{% endblock %}">
    <meta name="author" content="Emre Cevik">
    <link rel="shortcut icon" href="{% static 'portal/assets/favicon.ico' %}">

    <!-- FontAwesome JS-->
    <script defer src="{% static 'portal/assets/plugins/fontawesome/js/all.min.js' %}"></script>

    <!-- App CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'portal/assets/css/portal.css' %}">

</head>

<body class="app">
    <!-- app-header start -->
    <header class="app-header fixed-top">
        {% include "portal/layout/header.html" %}
        {% include "portal/layout/sidepanel.html" %}
    </header>
    <!-- app-header start -->

    <!-- app-wrapper start -->
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">

            {% block page_message %}{% endblock %}

            {% block page_content %}
                {% include "portal/layout/content.html" %}
            {% endblock %}
		    </div><!--//container-fluid-->
	    </div>

        {% block page_footer %}
        {% include "portal/layout/footer.html" %}
        {% endblock %}
    </div>
    <!--//app-wrapper end-->

        {% block page_javascript %}
        <!-- Javascript -->
        <script src="{% static 'portal/assets/plugins/popper.min.js' %}"></script>
        <script src="{% static 'portal/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

        <!-- Charts JS -->
        <script src="{% static 'portal/assets/plugins/chart.js/chart.min.js' %}"></script>
        <script src="{% static 'portal/assets/js/index-charts.js' %}"></script>

        <!-- Page Specific JS -->
        <script src="{% static 'portal/assets/js/app.js' %}"></script>
        {% endblock %}
</body>
</html>

