{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "portal/layout/head.html" %}

</head>

<body class="app">
    <!-- app-header start -->
    <header class="app-header fixed-top">
        {% include "portal/layout/app_header.html" %}
        {% include "portal/layout/app_sidepanel.html" %}
    </header>
    <!-- app-header start -->

    <!-- app-wrapper start -->
    <div class="app-wrapper">
        {% include "portal/layout/app_content.html" %}
        {% include "portal/layout/app_footer.html" %}
    </div>
    <!--//app-wrapper end-->

        {% include "portal/layout/js_footer.html" %}

</body>
</html>

